In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Duplicate key in file PosixPath('/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/matplotlibrc'), line 250 ('font.family : IPAexGothic')

In [2]:
train = pd.read_csv("train.tsv", sep="\t")
test = pd.read_csv("test.tsv", sep="\t")
sample = pd.read_csv("sample_submit.csv", header=None)

In [3]:
train.head()

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,0,5.3,3.7,1.5,0.2,Iris-setosa
1,1,6.8,2.8,4.8,1.4,Iris-versicolor
2,3,6.1,3.0,4.9,1.8,Iris-virginica
3,4,6.4,3.2,5.3,2.3,Iris-virginica
4,5,6.3,3.3,4.7,1.6,Iris-versicolor

In [4]:
train.shape

(75, 6)

In [5]:
train.describe(include="O")

                 class
count               75
unique               3
top     Iris-virginica
freq                29

In [6]:
train.isnull().sum()

id                    0
sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
class                 0
dtype: int64

In [7]:
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.model_selection import GridSearchCV
import pydotplus

clf = DT()

In [8]:
parameters = {"max_depth": list(range(2,11)),"min_samples_leaf": [5,10,20,50,100,500]}

In [17]:
train["class"].value_counts()

Iris-virginica     29
Iris-setosa        25
Iris-versicolor    21
Name: class, dtype: int64

In [18]:
train["class"].replace({"Iris-virginica":0, "Iris-setosa":1, "Iris-versicolor": 2}, inplace=True)

In [19]:
trainX = train.iloc[:, 1:5]
trainX = pd.get_dummies(trainX)

y = train["class"]

In [20]:
gcv = GridSearchCV(clf, parameters, cv=5, scoring="roc_auc", n_jobs=-1, return_train_score=True)
gcv.fit(trainX, y)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:918: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:918: UserWarning: One or more of the train scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'min_samples_leaf': [5, 10, 20, 50, 100, 500]},
             return_train_score=True, scoring='roc_auc')

In [30]:
gcv.best_params_

{'max_depth': 2, 'min_samples_leaf': 5}

In [22]:
pred = gcv.predict(trainX)

In [28]:
#from sklearn import metrics

#fpr, tpr, thresholds = metrics.roc_curve(y, pred)
#print("AUC=", metrics.auc(fpr, tpr))

ValueError: multiclass format is not supported

In [46]:
#多クラスの評価
from sklearn.metrics import accuracy_score

accuracy_score(y, pred)

0.9466666666666667

In [34]:
test.isnull().sum()

id                    0
sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
dtype: int64

In [35]:
test.shape

(75, 5)

In [36]:
testX = test.iloc[:,1:]
testX = pd.get_dummies(testX)

In [37]:
pred_test = gcv.predict(testX)

In [41]:
sample.head()

    0                1
0   2      Iris-setosa
1   7  Iris-versicolor
2   8   Iris-virginica
3  10      Iris-setosa
4  13  Iris-versicolor

In [42]:
sample[1] = pred_test

In [43]:
sample[1].replace({0: "Iris-virginica", 1: "Iris-setosa", 2: "Iris-versicolor"}, inplace=True)

In [44]:
sample.head()

    0                1
0   2  Iris-versicolor
1   7   Iris-virginica
2   8   Iris-virginica
3  10  Iris-versicolor
4  13      Iris-setosa

In [45]:
sample.to_csv("submit01.csv", index=None, header=None)